Source: freemed
Section: unknown
Priority: optional
Maintainer: Jeff Buchbinder <jeff@freemedsoftware.org>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.0

Package: freemed
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Depends: perl, libxml-parser-perl, libtext-iconv-perl, cron, djvulibre-bin, netpbm, imagemagick, php5, php5-mysql, php5-gd, php5-cli, php5-cgi, php5-curl, apache2 | apache2.2, tetex-bin, tetex-extra, cupsys, cupsys-client, gs-common, xpdf-utils, mysql-server | mysql-server-5.0, mysql-client | mysql-client-5.0, djvulibre-bin, libxml-simple-perl, libpdf-api2-perl, pdfjam
Suggests: remitt, cdrecord, mkisofs, turck-mmcache | php5-xcache
Description: FreeMED Opensource Electronic Medical Record System
